@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #bbc8b1;
  /* text-align: center; */
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #2e2e2e;
}

h1 {
  color: #fcb97d;
  font-size: 28px;
  font-weight: bolder;
}

h2 {
  color: #edd892;
  font-size: 24px;
}

h3 {
  color: #c6b89e;
  font-size: 20px;
  font-weight: bolder;
}

main {
  padding: 5px;
}

section {
  margin-top: 10px;
}

ol {
  list-style-type: decimal;
  margin-left: 25px;
}

ul {
  list-style-type: disc;
  margin-left: 25px;
}
